<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Decsription:</strong>
  <%= @faculty.decsription %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @faculty.contact %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @faculty.mail_id %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
